		<p>CREDITOS</p>
		<section>
     		<h2>Autores</h2>

     		<ul>
         		<li>Juan Carlos GIGENA</li>
         			<picture>
    					<source srcset="/images/MiFoto5.jpg" media="(max-width: 768px)">
    					<img srcset="/images/MiFoto5.jpg" alt="Imagen del Autor">
					</picture>
         		<li>Team MiriadaX</li>
	   		</ul>
   		</section>
		<a href='/quizes/question'> Volver </a>